.ProgramContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  flex: 1 0 100%;
  padding: 20px;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.ProgramImage {
  height: 200px;
  width: 200px;
  flex: 1 0 20%;
  margin: 10px;
}

.ProgramName {
  color: #2a3084;
}

.ProgramLaunchDetails {
  margin-bottom: 10px;
}

.ProgramDetails {
  color: #6367a3;
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .ProgramContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    flex: 1 0 50%;
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .ProgramContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    flex: 1 0 25%;
    padding: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .ProgramContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    flex: 1 0 25%;
    padding: 20px;
  }
}
